.admin-container {
  width: 80%;
  margin: 0px auto;
  padding: 20px;
  overflow: auto !important;
  height: 550px;
}

.requests-container {
  margin: 20px 0;
}

.prof-request {
  width: 100%;
  padding: 20px;
  border: 4px solid #000;
  text-transform: uppercase;
  margin: 16px 0;
  position: relative;
}

.prof-request h3 {
  margin: 12px 0 !important;
}


.prof-request p {
  font-family: "proxima_nova_rgbold";
  color: rgb(195, 195, 195);
}

.prof-request-controls {
  margin: 20px 0 0px 0;
}

.prof-request-controls .button {
  padding: 16px 24px;
  margin-right: 10px;
  border: 2px solid #000;
  text-transform: uppercase;
  font-family: "proxima_nova_rgbold";
  cursor: pointer;
}

.prof-request-controls .approve-btn {
  background: #000;
  color: #fff;
}

.prof-request-controls .decline-btn {
  background: #fff;
}

.aatab {
  background: linear-gradient(to right, black, #FF416C);
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  color: #f6f5f7;
  font-weight: 700;
  font-size: 20px;
  padding-left: 70px;
  position: relative;
}

.logout-button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
  position: absolute;
  top: 50%;
  right: 10px;
  padding: 6px 25px;
  transform: translateY(-50%) scale(1);
  cursor: pointer;
}

.logout-button:hover {
  transform: translateY(-55%) scale(1);
}

button:active {
transform: scale(0.95);
}

button:focus {
outline: none;
}

.prof-request-icons {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  display: flex;
  margin-top: 10px;
}

.uicon {
  width: 25px; 
  height: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.dicon {
  width: 20px; 
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.admin-title {
  position: relative;
}

.add-button {
  position: absolute;
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: transparent;
  border-color: #000000;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 6px 25px;
  margin-left: 66%;
  margin-top: 26px;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
  transform: translateY(-50%) scale(1);
}

.add-button:hover {
  transform: translateY(-55%) scale(1);
}

.Usererror-message {
  background-color: #ffdddd;
  color: rgb(128, 0, 6);
  padding: 10px;
  border: 1px solid #8b0000;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(139, 0, 0, 0.2);
}

.Usersuccess-message {
  background-color: #ffdddd;
  color: rgb(0, 128, 21);
  padding: 10px;
  border: 1px solid #acca03;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(139, 0, 0, 0.2);
}